.recipe-box__content {
    width: 957px;
    margin: 0 auto;
    margin-top: 25px;
}

.recipe-box__content__title-block {
    width: 100%;
}

.title-block__mini-title {
    height: 19px;
    font-family:"Circe-Regular", sans-serif;
    font-size: 16px;
    position: relative;
}

.title-block__mini-title ul {
    width: 700px;
    height: 19px;
    margin-top: 0px;
}

.title-block__mini-title li:first-child {
    margin-left: -19px;
    list-style: none;
}




.title-block__mini-title li {
    float: left;
    margin-left: 25px;
}

.title-block__mini-title li a {
    font-family: "Circe-Regular", sans-serif;
    font-size:16px;
    color: #222222;
    border: none;
    border-bottom: 1px solid #222222;
    display: block;
    text-decoration: none;
    height: 19px;
}

.this-link a{
    color: #999999 !important;
    text-decoration: none;
    border-bottom: none !important;
}


.title-block__big-title {
    height: 52px;
    font-family: Circe-Regular, sans-serif;
    color: #222222;
    font-size: 42px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 19px;
}

.title-block__img img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.title-block__cnt-prd {
    height: 135px;
    border-top: none;
    text-align: center;
}

.cnt-prd__time-weight {
    display: inline-block;
    vertical-align: top;
    width: 275px;
    height: 130px;
}

.time-weight__time {
    display: inline-block;
    width: 130px;
    vertical-align: top;
    margin-top: 38px;
}

.time-weight__weight {
    display: inline-block;
    width: 137px;
    vertical-align: top;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    margin-top: 38px;
}

.time-weight__title {
    text-align: center;
    font-family: "Circe-Regular", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #999999;
}

.title-block__cnt-prd__cnt {
    font-family: "Circe-Regular", sans-serif;
    font-size: 16px;
    color: #222222;
    text-align: center;
    padding-top: 17px;
}

.cnt-prd__contains {
    display: inline-block;
    vertical-align: top;
    width: 333px;
}

.contains__title {
    padding-top: 30px;
}

.contains__content {
    padding-top: 7px;
}

.calories {
    display: inline-block;
    vertical-align:top;
}
.proteins {
    display: inline-block;
    vertical-align:top;
    margin-left: 25px;
}
.fats {
    display: inline-block;
    vertical-align:top;
    margin-left: 25px;
}
.carbohydrates{
    display: inline-block;
    vertical-align:top;
    margin-left: 25px;
}



.cnt-prd__order {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 110px;
    padding-top: 19px;
    background-color: #f8f8f8;
}

.cnt-prd__order-title {
    width: 204px;
    height: 37px;
    font-family: "Circe-Light", sans-serif;
    line-height: 18px;
    text-align: left;
    color: #999999;
    padding-left: 50px;
}

.cnt-prd__order-button {
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 13px;
}

.cnt-prd__order-button button {
    display: block;
    width: 236px;
    height: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #159a15;
    margin: 0 auto;
    font-family: "Circe Light", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.recipe-box__content__instructions {
}

.instructions__title {
    font-family: "Circe-Bold", sans-serif;
    font-size: 24px;
    padding-left: 19px;
}

.instructions__content {
    padding: 17px;

}

.content__row {
    display: inline-block;
    width: 280px;
    vertical-align: top;
}

.content__row__cell {
    height: 40px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 40px;
    font-family: "Circe-Regular", sans-serif;
    font-size: 16px;
    color: #222222;
}

.cell-number {
    display: inline-block;
    color: #999999;
}

.cell-name {
    display: inline-block;
    margin-left: 15px;
}

.cell-cnt {
    display: inline-block;
    float: right;
}

.row-two {
    margin-left: 30px;
}

.row-three {
    margin-left: 30px;
}
.recipe-box__need {
    margin-top: 35px;
}

.recipe-box__photo-recipe {
    margin-top: 40px;
}
.instruction__photo {
    padding-top: 13px;
}

.photo-recipe-block {
    padding-top: 0;
    margin-top: 20px;
}

.photo-recipe-block:first-child {
    margin-top: 0;
}

.photo-recipe__photo {
    vertical-align: top;
    display: inline-block;
    width: 462px;
    height: 270px;
    border-radius: 8px 0px 0px 8px;
}

.photo-recipe__photo img{
    width: 100%;
}

.photo-recipe__text {
    vertical-align: top;
    display: inline-block;
    width: 428px;
    height: 270px;
    padding-left: 17px;
}

.photo-recipe__text-title {
    font-family: "Circe-Bold", sans-serif;
    font-size: 18px;
    color: #222222;
    padding-top: 16px;
}

.photo-recipe__text-content {
    color: #222222;
    font-family: "Circe Light", sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
}

.photo-recipe-block:last-child {
    margin-top: 0;
}

.photo-recipe-hint {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 191px;
    background: #f8f8f8;
}

.photo-recipe-hint__pic {
    display: inline-block;
    height: 135px;
    width: 135px;
    vertical-align: top;
    margin-left: 60px;
}

.photo-recipe-hint__pic img{
    margin-left: 20px;
    margin-top: 45px;
}

.photo-recipe-hint__text {
    display: inline-block;
    height: 105px;
    width: 620px;
    vertical-align: top;
    font-family: "Circe Light", sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-top: 45px;
    margin-left: 35px;
}

.bon-appetit {
    margin-top: 55px;
    text-align: center;
    font-family: "Circe-Bold", sans-serif;
    font-size: 18px;
    color: #222222;
}

.recipe-box__social {
    margin-top: 35px;
    height: 180px;
    margin-bottom: 35px;
}

.social__block {
    display: inline-block;
    height: 100%;
    width: 462px;
    border: 1px solid #e2e2e2;
    vertical-align: top;
    border-radius: 5px;
}

.social__block:last-child {
    margin-left: 13px;
}

.social__block__title {
    font-family: "Circe-Bold", sans-serif;
    font-size: 20px;
    color: #222222;
    padding-left: 19px;
    padding-top: 20px;
}

.social__block__mini-title {
    font-family: "Circe-Regular", sans-serif;
    font-size: 14px;
    color: #222222;
    padding-left: 19px;
    padding-top: 18px;
}

.social__block__content {
    margin-top: 13px;
}

.subscribe {
    font-family: "Circe-Regular", sans-serif;
    font-size: 14px;
}

.user-name {
    height: 40px;
    width:  125px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    border: 1px solid #cecece;
    outline: none;
    vertical-align: top;
    padding-left: 15px;
}

.subscribe input:first-child {
    margin-left: 19px;
    margin-right: 12px;
}

.subscribe-block {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    background: #f8f8f8;
}

.subscribe-block input{
    display: inline-block;
    vertical-align: top;
    width: 133px;
    height: 40px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 5px 0 0 5px;
    border: none;
    border: 1px solid #cecece;
    outline: none;
    padding-left: 15px;
}

.subscribe-block button     {
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    height: 46px;
    width: 106px;
    margin-left: -3px;
    margin-top: -1px;
    border: none;
    border: 1px solid #fff;
    border-left: none;
    color: #fff;
    background: #159a15;
    font-family: "Circe-Regular", sans-serif;
    font-size: 14px;
}

.subscribe-block button:hover {

}

.subscribe-mini-title {
    line-height: 24px;
    color: #222222;
}

.send__btn {
    display: inline-block;
    height: 40px;
    width: 230px;
    border: 1px solid #cecece;
    margin-left: 19px;
    vertical-align: top;
    border-radius: 5px;
    background: #eafeff;
}
.send__btn button {
    height: 40px;
    width: 230px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #eafeff;
}

.social__btn {
    display: inline-block;
}

.shape {
    margin-top: 5px;
    margin-left: 8px;
    float: left;
}

.send-text {
    padding-top: 6px;
    font-family: "Circe-Regular", sans-serif;
    font-size: 13px;
}

.social__btn {
    display: inline-block;
    margin-left: 14px;
}

.fb {
    display: inline-block;
}
.vk {
    display: inline-block;
    margin-left: 13px;
}
.ok {
    display: inline-block;
    margin-left: 13px;
}

